<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.ecms.mapper.ColorAndSizeMapper">


    <resultMap id="BaseResultMap" type="com.qf.ecms.domain.entity.ColorAndSize">
        <id column="csid" property="csid"/>

        <result column="color_name" property="colorName"/>
        <result column="size_name" property="sizeName"/>
        <result column="stock" property="stock"/>
        <result column="original_price" property="originalPrice"/>
        <result column="present_price" property="presentPrice"/>
        <result column="cid" property="cid"/>
    </resultMap>
    




    <insert id="insert" keyProperty="colorAndSize.csid" useGeneratedKeys="true">
        insert into
            color_size
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="colorAndSize.colorName != null and colorAndSize.colorName !=''">
                color_name,
            </if>
            <if test="colorAndSize.sizeName != null and colorAndSize.sizeName != ''">
                size_name,
            </if>
            <if test="colorAndSize.stock != null">
                stock,
            </if>
            <if test="colorAndSize.originalPrice!= null and colorAndSize.originalPrice != ''">
                original_price,
            </if>
            <if test="colorAndSize.presentPrice != null and colorAndSize.presentPrice != ''">
                present_price,
            </if>
            <if test="colorAndSize.cid != null">
                cid
            </if>
        </trim>
            values
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="colorAndSize.colorName != null and colorAndSize.colorName !=''">
            #{colorAndSize.colorName},
        </if>
        <if test="colorAndSize.sizeName != null and colorAndSize.sizeName != ''">
            #{colorAndSize.sizeName},
        </if>
        <if test="colorAndSize.stock != null">
            #{colorAndSize.stock},
        </if>
        <if test="colorAndSize.originalPrice!= null and colorAndSize.originalPrice != ''">
            #{colorAndSize.originalPrice},
        </if>
        <if test="colorAndSize.presentPrice != null and colorAndSize.presentPrice != ''">
            #{colorAndSize.presentPrice},
        </if>
        <if test="colorAndSize.cid != null">
            #{colorAndSize.cid}
        </if>
    </insert>

</mapper>