<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.ecms.mapper.ColorAndSizeMapper">


        <resultMap id="BaseResultMap" type="com.qf.ecms.domain.entity.ColorAndSize" >
            <id column="csid" property="csid"/>

            <result column="color_name" property="colorName"/>
            <result column="size_name" property="sizeName"/>
            <result column="stock" property="stock"/>
            <result column="original_price" property="originalPrice"/>
            <result column="present_price" property="presentPrice"/>
            <result column="cid" property="cid"/>
        </resultMap>
    <insert id="insert" keyProperty="colorAndSize.csid" useGeneratedKeys="true">
        insert into
            color_size
        (color_name, size_name, stock, original_price, present_price, cid)
            values
        (#{colorAndSize.colorName},#{colorAndSize.sizeName},#{colorAndSize.stock},#{colorAndSize.originalPrice},#{colorAndSize.presentPrice},#{colorAndSize.cid})
    </insert>

</mapper>