<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.ecms.mapper.CommodityPictureMapper">
  <resultMap id="BaseResultMap" type="com.qf.ecms.domain.entity.CommodityPicture">
    <!--@mbg.generated-->
    <!--@Table commodity_picture-->
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
  </resultMap>
  <delete id="insert">
    insert into commodity_picture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commodityPicture.pictureUrl != null">
        picture_url,
      </if>
      <if test="commodityPicture.cid != null">
        cid
      </if>
    </trim>
      values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commodityPicture.pictureUrl != null">
        #{commodityPicture.pictureUrl},
      </if>
      <if test="commodityPicture.cid != null">
        #{commodityPicture.cid}
      </if>
    </trim>

  </delete>

</mapper>