<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.ecms.mapper.CommodityDetailMapper">


        <resultMap id="BaseResultMap" type="com.qf.ecms.domain.entity.CommodityDetail" >
            <id column="cdid" property="cdid"/>

            <result column="details_content" property="detailsContent"/>
            <result column="model" property="model"/>
            <result column="weight" property="weight"/>
            <result column="create_time" property="createTime"/>
            <result column="cid" property="cid"/>
        </resultMap>
    <insert id="insert" keyProperty="commodityDetail.cdid" useGeneratedKeys="true">
        insert into
            commodity_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commodityDetail.detailsContent != null and commodityDetail.detailsContent != ''">
                details_content,
            </if>
            <if test="param1.model != null and param1.model != ''">
                model,
            </if>
            <if test="commodityDetail.weight != null">
                weight,
            </if>
            <if test="commodityDetail.cid != null">
                cid
            </if>
        </trim>
            values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commodityDetail.detailsContent != null and commodityDetail.detailsContent != ''">
                #{commodityDetail.detailsContent},
            </if>
            <if test="param1.model != null and param1.model != ''">
                #{commodityDetail.model},
            </if>
            <if test="commodityDetail.weight != null">
                #{commodityDetail.weight},
            </if>
            <if test="commodityDetail.cid != null">
                #{commodityDetail.cid}
            </if>
        </trim>

    </insert>


</mapper>