<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.ecms.mapper.CommodityMapper">

<!--    commodity表-->
    <resultMap id="BaseResultMap" type="com.qf.ecms.domain.entity.Commodity">
        <id column="cid"  property="cid"/>

        <result column="commodity_title" property="commodityTitle"/>
        <result column="ssid" property="ssid"/>
        <result column="psid" property="psid"/>
        <result column="is_new" property="isNew"/>
        <result column="enable" property="enable"/>
    </resultMap>









    <insert id="insert" keyProperty="commodity.cid" useGeneratedKeys="true">
        insert into
            commodity
        (commodity_tittle, ssid, psid, is_new, enable)
            values
        (#{commodity.commodityTitle},#{commodity.ssid},#{commodity.psid},#{commodity.isNew},#{commodity.enable})

    </insert>


    
</mapper>