<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.ecms.mapper.CommodityDetailMapper">
  <resultMap id="BaseResultMap" type="com.qf.ecms.domain.entity.CommodityDetail">
    <!--@mbg.generated-->
    <!--@Table commodity_detail-->
    <id column="cdid" jdbcType="INTEGER" property="cdid" />
    <result column="details_content" jdbcType="LONGVARCHAR" property="detailsContent" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    cdid, details_content, model, weight, create_time, cid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from commodity_detail
    where cdid = #{cdid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from commodity_detail
    where cdid = #{cdid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="cdid" keyProperty="cdid" parameterType="com.qf.ecms.domain.entity.CommodityDetail" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into commodity_detail (details_content, model, weight, 
      create_time, cid)
    values (#{detailsContent,jdbcType=LONGVARCHAR}, #{model,jdbcType=VARCHAR}, #{weight,jdbcType=DOUBLE}, 
      #{createTime,jdbcType=TIMESTAMP}, #{cid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="cdid" keyProperty="cdid" parameterType="com.qf.ecms.domain.entity.CommodityDetail" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into commodity_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="detailsContent != null">
        details_content,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="cid != null">
        cid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="detailsContent != null">
        #{detailsContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.ecms.domain.entity.CommodityDetail">
    <!--@mbg.generated-->
    update commodity_detail
    <set>
      <if test="detailsContent != null">
        details_content = #{detailsContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
    </set>
    where cdid = #{cdid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.ecms.domain.entity.CommodityDetail">
    <!--@mbg.generated-->
    update commodity_detail
    set details_content = #{detailsContent,jdbcType=LONGVARCHAR},
      model = #{model,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      cid = #{cid,jdbcType=INTEGER}
    where cdid = #{cdid,jdbcType=INTEGER}
  </update>

  <!--CommodityDetailDto的ResultMap-->
  <resultMap id="CommodityDetailResultMap" type="com.qf.ecms.domain.dto.CommodityDetailDto">
    <collection property="commodity" resultMap="com.qf.ecms.mapper.CommodityMapper.BaseResultMap" />
    <collection property="commodityDetail" resultMap="BaseResultMap" />
  </resultMap>

    <select id="selectAllCommodityDetail" resultMap="CommodityDetailResultMap">
      SELECT c.cid, c.commodity_title, c.comment_picture, c.ssid, c.psid, c.is_new, c.enable, cd.cdid, cd.details_content, cd.model, cd.weight, cd.create_time, cd.cid
      FROM commodity c LEFT JOIN commodity_detail cd ON c.cid = cd.cid
      WHERE c.enable = 1
      AND c.cid = #{cid}
    </select>

</mapper>