<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.ecms.mapper.OrderMapper">

    <resultMap id="BeanResultMap" type="com.qf.ecms.domain.entity.Order"></resultMap>

    <insert id="insertOrder"></insert>
</mapper>