<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.ecms.mapper.ReceptionShopCartMapper">
  <resultMap id="BaseResultMap" type="com.qf.ecms.domain.entity.ShopCart">
    <id property="cartId" column="cart_id"/>
    <result property="userId" column="user_id"/>
    <result property="count" column="count"/>
    <result property="cid" column="cid"/>
    <result property="commodityTitle" column="commodity_title"/>
    <result property="commodityPicture" column="comment_picture"/>
    <result property="colorName" column="color_name"/>
    <result property="sizeName" column="size_name"/>
    <result property="csid" column="csid"/>
    <result property="presentPrice" column="present_price"/>
    <result property="status" column="status"/>

  </resultMap>
    <update id="deleteShopCat">

      update shop_cart
      set status=0
      where cart_id in
        <foreach collection="shopCarts" item="shopCart" open="(" close=")" separator=",">
            #{shopCart.cartId}
        </foreach>
    </update>

</mapper>