<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.ecms.mapper.ShopCartMapper">
  <resultMap id="BaseResultMap" type="com.qf.ecms.domain.entity.ShopCart">
    <!--@mbg.generated-->
    <!--@Table shop_cart-->
    <id column="cart_id" jdbcType="INTEGER" property="cartId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="commodity_title" jdbcType="VARCHAR" property="commodityTitle" />
    <result column="comment_picture" jdbcType="VARCHAR" property="commentPicture" />
    <result column="color_name" jdbcType="VARCHAR" property="colorName" />
    <result column="size_name" jdbcType="VARCHAR" property="sizeName" />
    <result column="csid" jdbcType="INTEGER" property="csid" />
    <result column="present_price" jdbcType="DECIMAL" property="presentPrice" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    cart_id, user_id, `count`, cid, commodity_title, comment_picture, color_name, size_name, 
    csid, present_price, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from shop_cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from shop_cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="cart_id" keyProperty="cartId" parameterType="com.qf.ecms.domain.entity.ShopCart" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into shop_cart (user_id, `count`, cid, 
      commodity_title, comment_picture, color_name, 
      size_name, csid, present_price, 
      `status`)
    values (#{userId,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, 
      #{commodityTitle,jdbcType=VARCHAR}, #{commentPicture,jdbcType=VARCHAR}, #{colorName,jdbcType=VARCHAR}, 
      #{sizeName,jdbcType=VARCHAR}, #{csid,jdbcType=INTEGER}, #{presentPrice,jdbcType=DECIMAL}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="cart_id" keyProperty="cartId" parameterType="com.qf.ecms.domain.entity.ShopCart" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into shop_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="count != null">
        `count`,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="commodityTitle != null">
        commodity_title,
      </if>
      <if test="commentPicture != null">
        comment_picture,
      </if>
      <if test="colorName != null">
        color_name,
      </if>
      <if test="sizeName != null">
        size_name,
      </if>
      <if test="csid != null">
        csid,
      </if>
      <if test="presentPrice != null">
        present_price,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="commodityTitle != null">
        #{commodityTitle,jdbcType=VARCHAR},
      </if>
      <if test="commentPicture != null">
        #{commentPicture,jdbcType=VARCHAR},
      </if>
      <if test="colorName != null">
        #{colorName,jdbcType=VARCHAR},
      </if>
      <if test="sizeName != null">
        #{sizeName,jdbcType=VARCHAR},
      </if>
      <if test="csid != null">
        #{csid,jdbcType=INTEGER},
      </if>
      <if test="presentPrice != null">
        #{presentPrice,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.ecms.domain.entity.ShopCart">
    <!--@mbg.generated-->
    update shop_cart
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        `count` = #{count,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="commodityTitle != null">
        commodity_title = #{commodityTitle,jdbcType=VARCHAR},
      </if>
      <if test="commentPicture != null">
        comment_picture = #{commentPicture,jdbcType=VARCHAR},
      </if>
      <if test="colorName != null">
        color_name = #{colorName,jdbcType=VARCHAR},
      </if>
      <if test="sizeName != null">
        size_name = #{sizeName,jdbcType=VARCHAR},
      </if>
      <if test="csid != null">
        csid = #{csid,jdbcType=INTEGER},
      </if>
      <if test="presentPrice != null">
        present_price = #{presentPrice,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.ecms.domain.entity.ShopCart">
    <!--@mbg.generated-->
    update shop_cart
    set user_id = #{userId,jdbcType=INTEGER},
      `count` = #{count,jdbcType=INTEGER},
      cid = #{cid,jdbcType=INTEGER},
      commodity_title = #{commodityTitle,jdbcType=VARCHAR},
      comment_picture = #{commentPicture,jdbcType=VARCHAR},
      color_name = #{colorName,jdbcType=VARCHAR},
      size_name = #{sizeName,jdbcType=VARCHAR},
      csid = #{csid,jdbcType=INTEGER},
      present_price = #{presentPrice,jdbcType=DECIMAL},
      `status` = #{status,jdbcType=INTEGER}
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>

    <insert id="insertShopCart">
        INSERT INTO shop_cart
        (user_id, count, cid, commodity_title, comment_picture, color_name, size_name, present_price)
        VALUES (#{shopCart.userId},#{shopCart.count},#{shopCart.cid},#{shopCart.commodityTitle},#{shopCart.commentPicture},#{shopCart.colorName},
        #{shopCart.sizeName},#{shopCart.presentPrice}
        )
    </insert>

  <select id="selectShopCartByCsIdAndUserId" resultMap="BaseResultMap">
    SELECT cart_id,count
    FROM shop_cart
    WHERE user_id=#{userId}
    AND csid=#{csid}
    AND status = 1
  </select>

  <update id="updateShopCartCount">
    UPDATE shop_cart
    SET count = #{count}
    WHERE cart_id = #{cartId}
    AND status = 1
  </update>
    <select id="selectAllShopCartByUserId" resultMap="BaseResultMap">
      SELECT cart_id, user_id, count, cid, commodity_title, comment_picture, color_name, size_name, csid, present_price
      FROM shop_cart
      WHERE user_id = #{userId}
      AND status = 1
    </select>
</mapper>