<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.ecms.mapper.UserAddressMapper">
    <resultMap id="BaseResultMap" type="com.qf.ecms.domain.entity.UserAddress">
        <!--@mbg.generated-->
        <!--@Table user_address-->
        <id column="address_id" jdbcType="INTEGER" property="addressId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="district" jdbcType="VARCHAR" property="district"/>
        <result column="street" jdbcType="VARCHAR" property="street"/>
        <result column="address_detail" jdbcType="VARCHAR" property="addressDetail"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="is_default" jdbcType="INTEGER" property="isDefault"/>
        <result column="is_del" jdbcType="INTEGER" property="isDel"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        address_id, `name`, province, city, district, street, address_detail, phone, is_default,
        is_del, user_id
    </sql>
    <insert id="insertAddress">
        INSERT INTO user_address
        (name, province, city, district, street, address_detail, phone, user_id)
        VALUES (#{userAddress.name}, #{userAddress.province},#{userAddress.city}, #{userAddress.district}, #{userAddress.street},
                #{userAddress.addressDetail}, #{userAddress.phone},#{userAddress.userId})
    </insert>
    <select id="selectAddressCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM user_address
        where user_id = #{userId}
        AND is_del = 0;
    </select>
    <select id="selectAllAddressByUserId" resultMap="BaseResultMap">
        SELECT address_id, name, province, city, district, street, address_detail, phone, is_default FROM user_address
        WHERE user_id = #{userId}
        AND is_del = 0;
    </select>


</mapper>